@charset "UTF-8";
@font-face {
    font-family: abraham;
    src: url('fontes/PermanentMarker-Regular.ttf');
}
html{
    padding: 0%;
    margin: 0px;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}
h1{
    font-family: abraham;
    color: #ffffff;
    font-size: 2em;
    text-shadow: 2px 2px 2px rgb(1, 0, 87);
    margin-top: 10px;
    animation: anim 5s ease-in-out infinite;
}
.principal{
    background-color: black;
    background:url('imagens/pngwing.com.png') BLACK no-repeat;
    background-position: right;
    background-size: cover;
    background-clip: content-box;
    border-radius: 20px ;
    margin-bottom: 5px;
    border: 1px solid rgba(34, 124, 120, 0.12);
    box-shadow:  4px 4px 5px rgb(5, 140, 182), -2px -2px 0px rgb(0, 17, 20);
    animation: animation1 9s ease-out ;
}

@keyframes animation1 {
    0%{
        
        box-shadow:  4px 4px 20px  rgba(3, 114, 145, 0.87), -2px -2px 0px rgb(0, 17, 20);
    }

    100%{
        
        box-shadow:  6px 6px 7px  rgb(4, 138, 172), -2px -2px 0px rgb(0, 17, 20);
    }

}
.principal > p{
    background-color: black;
    padding: 25px;
    border-radius: 20px;
    color: rgb(250, 247, 247);
    text-shadow: 1px 1px 1px rgb(92, 92, 94);
    font-size: 1em;
    margin: 25px;
    width: auto;
    box-shadow:  4px 4px 5px rgb(5, 140, 182), -2px -2px 0px rgb(0, 4, 20);
}



@keyframes anim {
   0%{
       color:#f6f6f7;
       text-shadow: 3px 3px 3px  #8b0303;
   }    
   50%{
       color: white;
       text-shadow: 3px 3px 3px #1fff02;
   }  
   100%{
       color:#ffffff;
       text-shadow: 3px 3px 3px #c5059c;
   }  
   
}
img{
    width: 400px;
    height: 400px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 20px;
    margin-right: 25px;
    box-shadow:  4px 4px 5px rgb(5, 140, 182), -2px -2px 0px rgb(0, 17, 20);
}
.secundario{
    display: inline-flex;
    background-color: rgb(0, 0, 0);
    border: 1px solid rgba(34, 124, 120, 0.12);
    border-radius: 25px;
    padding: 10px;
    padding-top: 30px;
}
.secundario > p{
    background-color: rgba(0, 0, 0, 0.89);
    padding: 15px;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px rgba(110, 110, 110, 0.918);
    font-size: 1em;
    margin-left: 25px;
    margin-top: 0px;
    line-height: 25px;
    width:auto;
    height: auto;
    margin-right: 5px;
    box-shadow:  4px 4px 5px rgb(5, 140, 182), -2px -2px 0px rgb(0, 17, 20);
    margin-right: 10px;
}


footer{
    text-align: center;
    font-size: medium;
    font-family: abraham;
    color: rgb(255, 255, 255);
    text-shadow: 3px 2px 2px rgb(5, 182, 5);
    margin-bottom: 0px;
    
}

::-webkit-scrollbar{
    display: none;
}